/* Стили контейнера */

.adsForm{
    max-width: 800px;
    width: 100%;
    margin:  30px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
}
.adsForm__back{
    color: var(--link_color);
    border: 1px solid var(--link_color);
    padding: 10px 30px;
    background: none;
    border-radius: var(--radius);
    margin-bottom: 20px;
    transition: letter-spacing 0.3s;
    text-decoration: underline;
}
.adsForm__back:hover{
    letter-spacing: 0.1rem;
}
.adsForm__back:active{
    letter-spacing: 0.1rem;
    opacity: 0.3;
}
.adsForm__form-title{
    font-size: var(--page_title_size);
    font-style: var(--title_style);
    margin-bottom: var(--title_margin_bottom);
    align-self: center;
}
.adsForm__form-sub-title{
    font-size: var(--card_title_size);
    font-style: var(--text_style);
    margin-bottom: var(--card_text_margin_regular);
    align-self: center;
}
.adsForm ul{
    list-style: none;
}
.adsForm__categories{
    display: flex;
    max-width: 800px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: var(--card_text_margin_regular);
}
.adsForm__categories-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background: var( --input_bg);
    border-radius: var(--radius);
    height: var(--active-el_height);
    color: var(--innactive_text_color);
    flex: 0 1 190px;
    transition: flex 0.3s, background 0.2s ease-in, color 0.2s ease-in;
    margin-right: 15px;
    cursor: pointer;
}

.adsForm__categories-item:last-of-type{
    margin-right: 0;
}
.adsForm__categories-item:hover{
    background: var(--active_color);
    color: var(--reverse_font_color);
}
.categories-item--active{
    flex: 3 0 290px;
    background: var(--active_color);
    color: var(--reverse_font_color);
}



/* Стили вложенных форм */
.adsForm__form-container{
    max-width: 800px;
    width: 100%;
}
.adsForm__form-note{
    opacity: 0.5;
    margin-bottom: var(--card_text_margin_regular);
}
.adsForm__form{
    display: flex;
    flex-direction: column;
}
.adsForm-label{
    font-size:var(--card_title_small_size);
    font-weight: var(--title_weight);
    margin-bottom: 5px;
}
.adsForm-label span{
    color:var(--active_color)
}
.adsForm_input{
    margin-bottom: var(--card_short_padding);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--border_color);
    background: var(--input_bg);
}
.adsForm_input:focus{
    border: 1px solid var(--active_color);
    outline: none;
}
.adsForm_input::placeholder{
    color: var(--innactive_text_color);
    opacity: 0.7;
}
.adsForm__extend-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    transform-origin: top;
    overflow: hidden;
    transition: height 0.3s ease-in;
    margin-bottom: var(--card_text_margin_regular);
}
.adsForm__more-btn{
    background: none;
    border: none;
    color: var( --link_color);
    margin-bottom: var(--card_text_margin_regular);
}
.adsForm__checkboxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.adsForm__checkbox-label{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.adsForm__checkbox-label input{
   width: 0;
   overflow: hidden;
   opacity: 0;
   visibility: hidden;
}
.adsForm__checkboxes-custom_chbx{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--border_color);
    background: var(--input_bg);
    padding: 2px;
    transition: background 0.1s;
}
.adsForm__checkbox-label input:checked ~ .adsForm__checkboxes-custom_chbx{
    background: var(--active_color);
    border: 1px solid var(--active_color)
}
.adsForm__checkbox-label span{
    opacity: 0.7;
    color: var( --innactive_text_color);
    margin-left: 10px;
    width: fit-content;
}
.adsForm__checkbox-label input:checked ~ span{
    opacity: 1;
    color: var(--main_font_color);
    margin-left: 10px;
}
.adsForm__extend-container--close{
   height: 0;
}
/* Кнопка */
.adsForm_submit{
    height: var( --active-el_height);
    border: none;
    background: var(--active_color);
    border-radius: var(--radius);
    color: var(--btn_color);
    font-size: var(--text_size);
}

/* Стили карточек с тарифами */
.adsForm__plans{
    display: flex;
    margin-top: var(--card_text_margin_regular);
}

.adsForm__pricing{
   
}
.adsForm__pricing >p{
    margin: 20px 0 40px 0;
}
.adsForm__plan-item{
    position: relative;
    background: var(--input_bg);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    /* padding: var( --card_text_margin_regular); */
    margin-right: 15px;
    overflow: hidden;
    flex-basis: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.adsForm__plan-item--selected{
    outline: 1px solid var(--border_color);
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.adsForm__plan-item input{
    opacity: 0;
    z-index: -1;
    position: absolute;
}
.adsForm__plan-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var( --card_text_margin_regular);
}

.adsForm__plan-item:nth-of-type(2) .adsForm__plan-title{
    background: var(--vip_bg);
    color: var(--vip_color);
}
.adsForm__plan-item:nth-of-type(3) .adsForm__plan-title{
    background:var(--super-vip_bg) ;
    color: var(--super-vip_color);
}
.adsForm__plan-list{
    padding: var( --card_text_margin_regular);
}
.adsForm__plan-list p{
    margin-bottom: 10px;
    color: var(--money_color);
}


.adsForm__totalPrice{
    margin: var(--card_text_margin_regular) 0;
    color: var(--money_color);
}
.adsForm__totalPrice span{
    color: var(--money_color);
    font-size: var(--card_title_size);
}

@media (max-width:950px) {
    .adsForm{
        margin-bottom: 100px;
    }
}

@media (max-width:700px) {

    .adsForm__plans{
        flex-direction: column;
    }
    .adsForm__plan-item{
        margin-bottom: 20px;
        flex-basis: fit-content;
    }
    .adsForm__categories{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .adsForm__categories-item{
        flex: 0 1 calc(50% - 10px);
        margin-right: 0;
        margin-bottom: 20px;
    }
    .adsForm__plan-item{
        margin-right: 0;
    }
}