.cdl_main_title{
    /* text-align: center; */
    margin-top: 115px;
    margin-left: 28px;
}

.cdl_wrapper{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}

.cdl_filter{
    width: 200px;
    height: 200px;
    border: 1px solid tomato;
    
}

.cdl_table_ads{
    width: 810px;
    height: 318px;
    background: #F6F6F6;
    border-radius: 20px;
    padding: 20px;
    
}

.cdl_table_ads_title{
    padding-top: 20px ;
    padding-bottom: 20px ;
}


.cdl_banner__ads{
        width: 275px;
        height: 266px;
        background: #F660F9;
        border-radius: 20px;
        position: relative;
        
    }

    .cdl_table_ads_price{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cdl_description{
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .cdl_banner_ads_text{
        color: white;
        text-align: center;
        margin-top: 50%;
    }

    .cdl_sub_table{
        display: flex;
        justify-content: space-between;
    }