.filterSelect{
    position: relative;
    z-index: 1000;
}
.filterSelect__control{
    height: 70px;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background: var(--input_bg);
    border-radius: var(--radius);
    margin-bottom: 15px;
    cursor: pointer;
    outline: 1px solid var(--border_color);
}
.filterSelect__control:hover{
    outline: 1px solid var(--active_color);
}
.filterSelect__title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.filterSelect__content{
    min-width: 400px;
    position: absolute;
    right: 0;
    top:0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding:30px;
    background: var(--input_bg);
    border-radius: var(--radius);
    cursor: pointer;
    border: 1px solid var(--border_color);
    box-shadow: 0 2px 20px #869db55c;
    transform: translateX(calc(100% + 15px)) scale(0);
    transform-origin: top left;
    transition: transform 0.1s;
}
.closeBtn{
    position: absolute;
    top:20px;
    right: 20px;
}
.filterSelect_arrow{
    transform: rotate(45deg);
    transition: transform 0.3s;
}
.filterSelect_arrow--rotated{
    transform: rotate(360deg);
}
.filterSelect__li{
    padding: 10px 0;
}
.filterSelect__li:hover{
    color: var(--active_color);
}
.filterSelect__content--open{
    transform:  translateX(calc(100% + 15px)) scale(1);
    z-index: 1000;
}
@media (max-width:1400px) {
    .filterSelect{
        margin-right: 10px;
    }
    .filterSelect__content{
        min-width: 280px;
        width: 100%;
        right: 0;
        top: auto;
        bottom: 0;
        left: 0;
        right: auto;
       
        transform: translateX(0) translateY(100%) scale(0);
    }
    .filterSelect__content--open{
        transform:  translateX(0) translateY(100%) scale(1);
    }
}
@media (max-width:700px) {
    .filterSelect{
        margin-right: 0;
        z-index: 10000;
    }
    .filterSelect__content{ 
        transform: translateX(0) translateY(0) scaleY(1);
        height: 0;
        position: static;
        overflow: hidden;
        overflow-y: hidden;
        transition: height 0.3s,;
        border: none;
        visibility: hidden;
        padding: 0;
    }
    .filterSelect__content--open{
        transform:  translateX(0) translateY(0) scaleY(1);
        height: 300px;
        overflow-y: auto;
        padding: 20px;
        border: 1px solid var(--border_color);
        padding: 20px;
        visibility: visible;
        margin-bottom: 20px;
    }

}