
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700;1,900&display=swap');
@import url('styles/base-styles.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--main_font_color);
}

html{
    font-size: 20px;
    scroll-behavior: smooth;
}
.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.btn-loader{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-loader::before{
  content: ".";
  color:#fff;
  animation: dots-loading  0.5s linear 0s infinite;
}
@media (max-width:480px) {
    html{
        font-size: 16px;
    }
}

@keyframes dots-loading {
  0%{
    content: ".";
  }
  50%{
    content: "...";
  }
  100%{
    content: ".....";
  }
}

/* АНИМАЦИЯ ПЕРЕХОДА ПО СТРАНИЦАМ ТЕСT*/
/* .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 4550ms ease-out;
  }
  .fade-exit {
    opacity: 1;

  }
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 4550ms ease-out;
  } */