.ServicesDetails{
    max-width: 1400px;
    width: 100%;

}
.ServicesDetails__container{
    width: 100%;
    display: flex;
}
.ServicesDetails__content{
    flex-grow: 1;
    max-width: 1000px;
    padding-right: var(--title_margin_bottom);
}
.ServicesDetailsSide{
    position: sticky;
    top: 100px;
    width: 350px;
    flex-shrink: 0;
    border-radius: var(--radius);
    margin-left: auto;
}
.ServicesdetailsHeader{
    margin-bottom: var(--title_margin_bottom);
}
.ServicesdetailsHeader__title{
    font-style: var(--title_style);
    margin-bottom: var(--card_text_margin_small);
}
.ServicesdetailsHeader__location{
    color: var(--location_color);
}
.ServicesdetailsHeader__income{
    color: var(--money_color);
    font-weight: var(--title_weight);
    font-size: var(--card_title_size);
    margin-bottom: var(--card_text_margin_small);
}
.ServicesdetailsHeader__date-cat{
    justify-content: space-between;
    width: 100%;
    margin-bottom: var(--card_text_margin_small);
}
.ServicesdetailsHeader__category, .ServicesdetailsHeader__date{
    color: var(--hashtag_color);
}
@media (max-width:950px) {
    .ServicesDetails__container{
        flex-direction: column-reverse;
    }
    .ServicesDetailsSide{
        width: 100%;
        margin-left: 0;
        top: 80px;
    }
}